<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
    <!-- Include Bootstrap CSS file here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
	<nav th:replace="layouts :: navbar"></nav>
	<div class="container mt-5">
		<form action="/projects/save" th:object="${project}" method="POST">
		<input type="hidden" th:field="${project.projectId}" /> 

			<div class="form-group">
				<label for="projectName">Project Name</label> <input type="text"
					class="form-control" id="projectName" placeholder="Project Name"
					th:field="${project.name}"> <span style="color: red"
					th:if="${#fields.hasErrors('name')}" th:errors="${project.name}"></span>
			</div>

			<div class="form-group">
				<label for="stage">Stage</label> <select class="form-control"
					id="stage" th:field="${project.stage}">
					<option value="NOTSTARTED">Not Started</option>
					<option value="INPROGRESS">In Progress</option>
					<option value="COMPLETED">Completed</option>
				</select>
			</div>

			<div class="form-group">
				<label for="projectDescription">Project Description</label>
				<textarea class="form-control" id="projectDescription"
					placeholder="Enter Project Description"
					th:field="${project.description}"></textarea>
				<span style="color: red" th:if="${#fields.hasErrors('description')}"
					th:errors="${project.description}"></span>
			</div>

			<div class="form-group">
				<label for="employees">Select Employees</label> <select
					class="form-control" id="employees" th:field="*{employees}"
					multiple="multiple">
					<option th:each="employee: ${allEmployees}"
						th:value="${employee.employeeId}" th:text="${employee.firstName}">
					</option>
				</select>
			</div>

			<!-- CSRF token if you're using Spring Security CSRF protection -->
			<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
			Project Start Date:
			<div class="form-group row">
			<input id="dp3" type="date" class="mb-4 col-2 col-xs-4" value="Start Date" th:field="${project.startDate}"/>
			</div>
			
			Project End Date:
			<div class="form-group row">
			<input id="dp4" type="date" class="mb-4 col-2 col-xs-4" value="End Date" th:field="${project.endDate}"/>
			</div>
<!--No need to use it  -->
<!--  <script type="text/javascript">
    $(document).ready(function(){
        $('#dp3').datepicker({
            format: 'MM/dd/yyyy', // Set the date format here
            autoclose: true
        });
        $('#dp4').datepicker({
            format: 'MM/dd/yyyy', // Set the date format here
            autoclose: true
        });
    });
</script> -->



			<button type="submit" class="btn btn-primary">Enter Project</button>
		</form>
	</div>

	</body>

</html>
